/* Caecilia LT Std */
@font-face {
  font-family: "Caecilia LT Std";
  font-weight: normal;
  font-style: normal;
  src: url(res:///Data/Fonts/CaeciliaLTStd-Regular.otf);
}

@font-face {
  font-family: "Caecilia LT Std";
  font-weight: bold;
  font-style: normal;
  src: url(res:///Data/Fonts/CaeciliaLTStd-Bold.otf);
}

@font-face {
  font-family: "Caecilia LT Std";
  font-weight: normal;
  font-style: italic;
  src: url(res:///Data/Fonts/CaeciliaLTStd-Italic.otf);
}

@font-face {
  font-family: "Caecilia LT Std";
  font-weight: bold;
  font-style: italic;
  src: url(res:///Data/Fonts/CaeciliaLTStd-BoldItalic.otf);
}

/* Caecilia LT */
@font-face {
  font-family: "Caecilia LT";
  font-weight: normal;
  font-style: normal;
  src: url(res:///Data/Fonts/CaeciliaLTCond-Regular.ttf);
}

@font-face {
  font-family: "Caecilia LT";
  font-weight: bold;
  font-style: normal;
  src: url(res:///Data/Fonts/CaeciliaLTCond-Bold.ttf);
}

@font-face {
  font-family: "Caecilia LT";
  font-weight: normal;
  font-style: italic;
  src: url(res:///Data/Fonts/CaeciliaLTCond-Italic.ttf);
}

@font-face {
  font-family: "Caecilia LT";
  font-weight: bold;
  font-style: italic;
  src: url(res:///Data/Fonts/CaeciliaLTCond-BoldItalic.ttf);
}

/* DejaVu Serif */
@font-face {
  font-family: "DejaVu Serif";
  font-weight: normal;
  font-style: normal;
  src: url(res:///Data/Fonts/DejaVuSerif-Regular.ttf);
}

@font-face {
  font-family: "DejaVu Serif";
  font-weight: bold;
  font-style: normal;
  src: url(res:///Data/Fonts/DejaVuSerif-Bold.ttf);
}

@font-face {
  font-family: "DejaVu Serif";
  font-weight: normal;
  font-style: italic;
  src: url(res:///Data/Fonts/DejaVuSerif-Italic.ttf);
}

@font-face {
  font-family: "DejaVu Serif";
  font-weight: bold;
  font-style: italic;
  src: url(res:///Data/Fonts/DejaVuSerif-BoldItalic.ttf);
}

/* DejaVu Sans Mono */
@font-face {
  font-family: "DejaVu Sans Mono";
  font-weight: normal;
  font-style: normal;
  src: url(res:///Data/Fonts/DejaVuSansMono-Regular.ttf);
}

@font-face {
  font-family: "DejaVu Sans Mono";
  font-weight: bold;
  font-style: normal;
  src: url(res:///Data/Fonts/DejaVuSansMono-Bold.ttf);
}

@font-face {
  font-family: "DejaVu Sans Mono";
  font-weight: normal;
  font-style: italic;
  src: url(res:///Data/Fonts/DejaVuSansMono-Italic.ttf);
}

@font-face {
  font-family: "DejaVu Sans Mono";
  font-weight: bold;
  font-style: italic;
  src: url(res:///Data/Fonts/DejaVuSansMono-BoldItalic.ttf);
}

/* Overrides */
body {
    font-family: "Caecilia LT";
    font-size: 0.9em;
    text-align: justify;
    margin: 0;
    line-height: 1.2;
    text-indent: 2em;
}

h1, h2, h3, h4, h5, h6 {
    text-indent: 0;
}

.calibre {
    font-size: 0.9em;
    margin: 0;
}

.calibre1, .calibre2, .calibre3, .calibre4, .calibre5, .calibre6, .calibre7, .calibre8, .calibre9, .calibre10, .calibre11, .calibre12, .calibre13, .calibre14, .calibre15, .calibre16, .calibre17, .calibre18, .calibre19, .calibre20 {
    margin: 0;
}

p {
    margin: 0;
    text-indent: 2em;
}

p.indent {
    text-indent: 2em;
}

span.dropcaps, span.dropcap {
    float: inherit;
    font: inherit;
    font: inherit;
    line-height: inherit;
    padding: inherit;
    margin: inherit;
}

code, tt, pre {
    font-family: 'DejaVu Sans Mono';
    font-size: 0.9em;
}

pre {
    white-space: pre-wrap; /* css-3 */
    text-align: left;
    text-indent: 0;
    margin: 0;
}

ul, ol, dl {
    padding-left: 1em;
    margin-left: 0;
}

li {
    text-indent: 0;
}
